nav{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0 1rem;
}
.logo-container img{
    width: 120px;
    height: 70px;
    object-fit: cover;
}
